In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("salary.csv")
data.head()

,Timestamp,Name,University Name,University_Cat,Backlogs,CGPA,Year of Passout,Qualification,Salary
0,2021/04/03 8:22:22 PM GMT+5:30,S. Dut,Bku,Tier2,0,8.0,2021,B.Tech,30000
1,2021/04/03 8:22:22 PM GMT+5:31,Archita Paine Kiit,Burdwan,Tier1,1,8.8,2020,BE,37000
2,2021/04/03 8:22:22 PM GMT+5:32,Pritam Panda,Kiit deemed to be university,Tier2,0,6.5,2021,B.SC,22000
3,2021/04/03 8:22:22 PM GMT+5:33,Prasun Chakraborty,Kiit deemed to be university,Tier2,1,7.0,2021,B.Tech,24000
4,2021/04/03 8:22:22 PM GMT+5:34,Papri Neogi,Bankura University,Tier3,0,8.5,2021,M.Tech,29000

In [3]:
data = data.drop(columns=['Timestamp','University Name', 'Name'])
data.head()

  University_Cat  Backlogs  CGPA  Year of Passout Qualification  Salary
0          Tier2         0   8.0             2021        B.Tech   30000
1          Tier1         1   8.8             2020            BE   37000
2          Tier2         0   6.5             2021          B.SC   22000
3          Tier2         1   7.0             2021        B.Tech   24000
4          Tier3         0   8.5             2021        M.Tech   29000

In [4]:
data.isnull().sum()

University_Cat     0
Backlogs           0
CGPA               0
Year of Passout    0
Qualification      0
Salary             0
dtype: int64

In [5]:
data.dtypes

University_Cat      object
Backlogs             int64
CGPA               float64
Year of Passout      int64
Qualification       object
Salary               int64
dtype: object

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [7]:
data['University_Cat'] = le.fit_transform(data['University_Cat'])
data['Qualification'] = le.fit_transform(data['Qualification'])

In [8]:
X = data.drop(columns =['Salary'])
Y = data['Salary']

In [9]:
from sklearn.preprocessing import StandardScaler
sd = StandardScaler()
sd.fit_transform(X)

array([[ 0.06375767, -0.76376262, -0.32458327,  0.5976143 , -0.23570226],
       [-1.14763808,  1.30930734,  0.81220607, -1.67332005,  0.88388348],
       [ 0.06375767, -0.76376262, -2.45606328,  0.5976143 , -1.355288  ],
       [ 0.06375767,  1.30930734, -1.74556994,  0.5976143 , -0.23570226],
       [ 1.27515343, -0.76376262,  0.38591006,  0.5976143 ,  2.00346921],
       [-1.14763808, -0.76376262,  0.10171273,  0.5976143 , -0.23570226],
       [ 0.06375767,  1.30930734,  1.23850207,  0.5976143 ,  0.88388348],
       [ 0.06375767,  1.30930734, -0.75087927,  0.5976143 ,  0.88388348],
       [ 0.06375767, -0.76376262,  1.23850207, -1.67332005, -0.23570226],
       [ 0.06375767, -0.76376262, -0.60878061,  0.5976143 , -0.23570226],
       [ 1.27515343, -0.76376262, -1.03507661,  0.5976143 , -0.23570226],
       [ 0.06375767,  1.30930734,  0.6701074 , -1.67332005, -1.355288  ],
       [ 0.06375767, -0.76376262,  1.38060074,  0.5976143 , -0.23570226],
       [ 0.06375767,  1.30930734,  0.47116927, -1.67332005,  2.00346921],
       [-1.14763808, -0.76376262,  0.95430473,  0.5976143 , -0.23570226],
       [ 0.06375767, -0.76376262,  0.286441  ,  0.5976143 , -1.355288  ],
       [ 2.48654918, -0.76376262,  0.17276206, -1.67332005, -1.355288  ],
       [ 0.06375767, -0.76376262, -0.32458327,  0.5976143 ,  0.88388348],
       [-2.35903384,  1.30930734, -0.46668194,  0.5976143 , -0.23570226]])

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [11]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [12]:
y_prediction = model.predict(x_test)

In [13]:
y_prediction

array([23143.39223688, 29195.83113245, 30978.78243626, 26661.81644747])

In [14]:
model.score(x_test,y_test)

0.425695091036583

In [15]:
x = model.predict([[3,0,9.0,2021,4]])
x

array([31407.22196296])

In [16]:
import pickle
file = './Model/Model2.pkl'
with open(file,'wb') as f:
    pickle.dump(model,f)

In [17]:
with open(file,'rb') as f:
    k = pickle.load(f)